body {
  font-family: Garamond;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.header {
  text-align: center;
  color: antiquewhite;
  background-color: black;
  background-image: url("./assets/dungeon.jpg");
  padding: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Navbar */
.nav-link {
  display: flex;
  text-align: left;
  padding-left: 1%;
}

/* Forms */
.form-container {
  margin: 50px;
}

.form-header {
  font-weight: bold;
}

.form-group {
  padding: 8px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
}

.form-button {
  display: flex;
  justify-content: right;
  margin-right: 11%;
}

.redirect-container {
  text-align: center;
}

.redirect-container h3 {
  padding: 5px;
  font-weight: bold;
}

.account-image {
  margin: 4%;
  border-radius: 1%;
  box-shadow: 0 10px 30px black;
}

.account-info {
  margin-top: 5%;
}

.user-buttons {
  display: flex;
  justify-content: right;
}

.user-buttons button {
  margin: 5px;
}

/* Home */
.background-container {
  background-image: url("./assets/dungeon3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.section {
  min-height: 20vh;
  max-height: 50%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 3%;
  background-color: rgba(56, 56, 56, 0.897);
  display: block;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid black;
  box-shadow: 0 10px 12px black;
}

.section button {
  margin-top: 2%;
}

#scoreboard {
  display: flex;
  flex-direction: column;
}
