body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  background-color: lightblue;
  padding: 5px;
}

/* Navbar */
.navbar-container {
  display: flex;
  justify-content: center;
  text-align: center;
  border: 2px solid black;
}

/* Forms */
.form-container {
  margin: 50px;
}

.form-header {
  font-weight: bold;
}

.form-group {
  padding: 8px;
}

.redirect-container {
  text-align: center;
}

.redirect-container h3 {
  padding: 5px;
  font-weight: bold;
}

/* Home */
.users-header {
  margin-top: 10px;
  margin-left: 100px;
  font-weight: bold;
}

.users-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin-left: 200px;
}

.user-container {
  padding: 15px;
}
