.game-wrapper {
  font-family: Garamond;
  background-color: rgba(31, 31, 31, 0.027);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  overflow: hidden; /* Prevent scrolling */
  margin: 0;
}

/* add sidebar css */
#left-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  background-color: rgba(0, 0, 0, 0.719);
}

#sidebar {
  background-color: rgba(0, 0, 0, 0.719);
}

/* portrait image css  */
#character-portrait img,
#enemy-portrait img {
  width: 200px;
  height: 200px;
  border: 7px groove burlywood;
  margin: 5px 0 5px 0;
}
/* set keyframes to make pulsing red box-shadow  */
@keyframes pulseRed {
  0% {
    box-shadow: 0 0 1px red;
  }
  50% {
    box-shadow: 0 0 15px 5px red;
  }
  100% {
    box-shadow: 0 0 1px red;
  }
}

/* pulse over 2 seconds  */
.glow-red {
  animation: pulseRed 2s infinite;
}

/* portrait css  */
#enemy-portrait {
  margin: 20psx 0;
}

#instructions {
  padding: 5px;
  background-color: #000000;
  color: white;
}

.game-wrapper canvas {
  border: 1px solid #000;
  background-color: #fff;
}

.game-wrapper #game-container {
  display: flex;
}

.game-wrapper #sidebar {
  margin-left: 20px;
  overflow-y: auto; /* Allow sidebar to scroll if content overflows */
}

.game-wrapper #combat-log {
  height: 150px;
  overflow-y: auto;
  border: 1px solid #000;
  background-color: #000;
  padding: 10px;
  width: 250px;
}

.game-wrapper #log {
  list-style: none;
  padding: 0;
  margin: 0;
}

.game-wrapper #log li.new-entry {
  font-weight: bold;
}

.game-wrapper #log li.new-attack-entry {
  color: white;
  font-weight: bold;
}

.game-wrapper #log li {
  color: white;
}

.game-wrapper #log li:first-child {
  color: yellow;
}

.game-wrapper #stats-window {
  border: 1px solid #000;
  padding: 10px;
}

.game-wrapper #hp-bar-container {
  width: 100%;
  height: 20px;
  background-color: #ddd;
  border: 1px solid #555353;
  margin-bottom: 10px;
  border-radius: 10px;
}

.game-wrapper #hp-bar {
  height: 100%;
  background-color: red;
  width: 100%; /* Full width by default */
  border-radius: 10px;
}

.increase-stat-btn {
  display: none;
  margin-left: 5px;
  padding: 0 5px;
  cursor: pointer;
}

.increase-stat-btn.show {
  display: inline;
}