/* General Body Styles */
body {
  font-family: Garamond;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Header */
.header,
.game-header {
  text-align: center;
  color: antiquewhite;
  padding: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.header {
  background-color: black;
  background-image: url("../public/assets/dungeon.jpg");
}

.game-header {
  background-color: rgb(43, 43, 43);
}

/* Navbar */
.nav-link {
  display: flex;
  text-align: left;
  padding-left: 1%;
}

/* Forms */
.form-container {
  margin: 50px;
}

.form-header {
  font-weight: bold;
}

.form-group {
  padding: 8px;
  margin: 0 10%;
  text-align: left;
}

.form-button {
  display: flex;
  justify-content: right;
  margin-right: 11%;
}

.redirect-container {
  text-align: center;
}

.redirect-container h3 {
  padding: 5px;
  font-weight: bold;
}

/* Account */
.account-image {
  margin: 4%;
  border-radius: 1%;
  box-shadow: 0 10px 30px black;
}

.account-info {
  margin-top: 5%;
}

.user-buttons {
  display: flex;
  justify-content: right;
}

.user-buttons button {
  margin: 5px;
}

/* portrait section in Account.jsx */
.current-portrait {
  margin-top: 20px;
  text-align: center;
}

.current-portrait img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
  margin-top: 10px;
}

.portrait-selection {
  margin: 20px 0;
}

.portraits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.portrait {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid transparent;
  cursor: pointer;
  transition: transform 0.3s, border 0.3s;
}

.portrait:hover {
  transform: scale(1.1);
}

.portrait.selected {
  border: 2px solid #dc3545;
}
/* Admin */
.table-container {
  width: 100%;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
  color: #333;
}

table td {
  background-color: #fff;
  color: #333;
}

button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

button:hover {
  background-color: burlywood;
}

/* Home */
.background-container {
  background-image: url("../public/assets/dungeon3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.section {
  margin: 0 10%;
  padding: 3%;
  background-color: rgba(60, 60, 60, 0.9);
  color: antiquewhite;
  text-align: center;
  border-bottom: 1px solid black;
  box-shadow: 0 10px 12px black;
}

.section button {
  margin-top: 2%;
}

/* Game Wrapper */
.game-wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  border-collapse: collapse;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  margin: 0;
}

/* Game Wrapper Elements */
.icon {
  display: none;
}

#gameCanvas {
  background-image: url("../public/game-background-625x625.jpg");
  background-size: 100%;
}

#playerCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  margin: 7px;
}

.game-wrapper #game-container {
  display: flex;
}

/* Game Canvas */
#gameCanvas {
  border: 7px groove burlywood;
  box-shadow: 0 10px 12px black;
  flex: 1;
}

/* Left sidebar */
#left-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  height: 639px;
  display: flex;
  justify-content: space-between;
  width: 200px;
}

#instructions {
  width: 200px;
  padding: 5px;
  color: white;
}

#left-sidebar,
#right-sidebar {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 10px 12px black;
  flex-shrink: 0;
  height: 639px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 200px;
}

/* Right sidebar */
#right-sidebar {
  margin-left: 20px;
  overflow-y: auto;
}

.game-wrapper #stats-window {
  height: 386px;
  padding: 10px;
  border: 7px groove burlywood;
}

.game-wrapper #hp-bar-container {
  width: 100%;
  height: 20px;
  background-color: #ddd;
  border: 1px solid #555353;
  margin-bottom: 10px;
  border-radius: 10px;
}

.game-wrapper #hp-bar {
  height: 100%;
  background-color: red;
  width: 100%;
  border-radius: 10px;
}

#enemy-info {
  display: none;
}

#combat-log {
  border: 7px groove burlywood;
  height: 253px;
  padding: 10px;
  width: 200px;
  overflow-y: hidden;
}

.game-wrapper #log {
  list-style: none;
  padding: 0;
  margin: 0;
}

#log .game-wrapper #log li {
  color: white;
}

#log li.new-entry,
#log li.new-attack-entry {
  font-weight: bold;
}

#logli.new-attack-entry {
  color: white;
}

#log li:first-child {
  color: yellow;
}

/* Portraits */
#character-portrait img,
#enemy-portrait img {
  width: 200px;
  height: 200px;
  border: 7px groove burlywood;
}

/* Keyframes and Animations */
@keyframes pulseRed {
  0% {
    box-shadow: 0 0 1px red;
  }
  50% {
    box-shadow: 0 0 15px 5px red;
  }
  100% {
    box-shadow: 0 0 1px red;
  }
}

.glow-red {
  animation: pulseRed 2s infinite;
}

/* Text Colors */
.green-text {
  color: rgb(104, 249, 104);
}

.yellow-text {
  color: rgb(234, 249, 64);
}

.increase-stat-btn {
  display: none;
  margin-left: 5px;
  padding: 0 5px;
  cursor: pointer;
}

.increase-stat-btn.show {
  display: inline;
}
