body {
  font-family: Garamond;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.header {
  text-align: center;
  color: antiquewhite;
  background-color: black;
  background-image: url("../public/assets/dungeon.jpg");
  padding: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Navbar */
.nav-link {
  display: flex;
  text-align: left;
  padding-left: 1%;
}

/* Forms */
.form-container {
  margin: 50px;
}

.form-header {
  font-weight: bold;
}

.form-group {
  padding: 8px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
}

.form-button {
  display: flex;
  justify-content: right;
  margin-right: 11%;
}

.redirect-container {
  text-align: center;
}

.redirect-container h3 {
  padding: 5px;
  font-weight: bold;
}

/* Account */
.account-image {
  margin: 4%;
  border-radius: 1%;
  box-shadow: 0 10px 30px black;
}

.account-info {
  margin-top: 5%;
}

.user-buttons {
  display: flex;
  justify-content: right;
}

.user-buttons button {
  margin: 5px;
}

/* portrait section in Account.jsx */
.current-portrait {
  margin-top: 20px;
  text-align: center;
}

.current-portrait img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
  margin-top: 10px;
}

.portrait-selection {
  margin: 20px 0;
}

.portraits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.portrait {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid transparent;
  cursor: pointer;
  transition: transform 0.3s, border 0.3s;
}

.portrait:hover {
  transform: scale(1.1);
}

.portrait.selected {
  border: 2px solid #dc3545;
}
/* Admin */
.table-container {
  width: 100%;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
  color: #333;
}

table td {
  background-color: #fff;
  color: #333;
}

button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

button:hover {
  background-color: burlywood;
}

/* Home */
.background-container {
  background-image: url("./public/assets/dungeon3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.section {
  margin-left: 10%;
  margin-right: 10%;
  padding: 3%;
  background-color: rgba(56, 56, 56, 0.897);
  display: block;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid black;
  box-shadow: 0 10px 12px black;
}

.section button {
  margin-top: 2%;
}

#scoreboard {
  display: flex;
  flex-direction: column;
}

/* green and yellow text for stat window hp and xp needed  */
.green-text {
  color: rgb(104, 249, 104);
}

.yellow-text {
  color: rgb(234, 249, 64);
}
